{% extends "baseSinPerfil.html" %}

{% block titulo %}Editar perfil{% endblock %}

{% block contenido %}

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-4 mt-3">
      <h1>EDITAR PERFIL</h1>
      <form action="/editar/{{request.session.user.id}}/" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" value="{{request.session.user.name}}">
          <!-- <input type="text" class="form-control" id="name" name="name" value=""> -->
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email" value="{{request.session.user.email}}">
        </div>

        <button type="submit" class="btn btn_mio btn-mio text-light">Actualizar</button>
      </form>

    </div>
  </div>

</div>

{% endblock %}

{% block libreria %}


{% endblock %}