<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <h1 class=" text-light">Exámen coding dojo</h1>

      {% if request.session.user %}
        <div class=" d-flex justify-content-end">
          <h6 class="text-light align-middle me-2 pt-2">Bienvenido(a), {{request.session.user.name}} </h6>
            <!-- haz escrito <span
              class="badge bg-primary text-wrap"> {{cuenta}} </span> mensajes -->
          <a id="logout" class="btn btn-outline-dark me-2" href="/muro/">volver</a>    
          <a id="logout" class="btn btn-outline-dark " href="/logout">Logout</a>
        </div>
      {% endif %}
    </div>
  </nav>
  <div class="container">
  </div>


</body>

</html>